spring:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  datasource:
    url: jdbc:mariadb://localhost:3306/profile
    username: nespot2
    password: zaq1234!
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 1000
        format_sql: true
        use_sql_comments: true
    database: mysql
    open-in-view: false

logging.level:
  org.hibernate.SQL: debug
  org.springframework.web: DEBUG


